<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MDN BCD File Creator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="<%= htmlWebpackPlugin.files.css %>" />
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</head>
<body>
  <div id="app"></div>
</body>
</html>
