<template>
	<div>
		<h1>MDN BCD File Creator</h1>

		<CompatData
			v-bind:categories="categories"
		/>
	</div>
</template>

<script>
import CompatData from './CompatData.vue'

export default {
	components: {
		CompatData
	},
  data() {
    return {
			categories: [
				{
					value: "api",
					name: "API"
				},
				{
					value: "css",
					name: "CSS"
				},
				{
					value: "html",
					name: "HTML"
				},
				{
					value: "http",
					name: "HTTP"
				},
				{
					value: "javascript",
					name: "JavaScript"
				},
				{
					value: "mathml",
					name: "MathML"
				},
				{
					value: "svg",
					name: "SVG"
				},
				{
					value: "webdriver",
					name: "WebDriver"
				},
				{
					value: "webextensions",
					name: "WebExtensions"
				}
			]
    }
  }
}
</script>
