<template>
	<div>
		<div>
			<p>Feature Category</p>
			<select v-model="category">
				<option v-for="category in categories" v-bind:key="category.value" v-bind:value="category.value">
					{{ category.name }}
				</option>
			</select>
		</div>

		<FeatureList
			v-bind:category.sync="category"
			v-bind:features.sync="features"
		/>

		<CompatDataOutput
			v-bind:output="outputData"
		/>
	</div>
</template>

<script>
import FeatureList from './FeatureList.vue';
import CompatDataOutput from './CompatDataOutput.vue';

export default {
	components: {
		FeatureList,
		CompatDataOutput
	},
	props: {
		categories: {
			type: Array,
			required: true
		}
	},
  data() {
    return {
			category: "api",
			features: []
    }
	},
	computed: {
		outputData: function() {
			let output = {};
			output[this.category] = { };
			for (let i = 0; i < this.features.length; i++) {
				output[this.category][this.features[i].text] = { };
			}

			console.log(output);
			console.log(JSON.stringify(output));
			console.log(JSON.stringify(this.features));

			return JSON.stringify(output, null, 2);
		}
	}
}
</script>
