<template>
  <li>
    {{ feature.text }}
    <button @click="$emit('remove', feature.id)">
      X
    </button>
  </li>
</template>

<script>
export default {
  props: {
    feature: {
      type: Object,
      required: true
    }
  }
}
</script>
