<template>
  <div>
    <FeatureInput
			v-model="newFeatureText"
			placeholder="New feature"
			@keydown.enter="addFeature"
    />

		<ul v-if="features.length">
			<FeatureListItem
				v-for="feature in features"
				:key="feature.id"
				:feature="feature"
				@remove="removeFeature"
			/>
		</ul>
		<p v-else>
			No features.
		</p>
	</div>
</template>

<script>
import FeatureInput from './FeatureInput.vue';
import FeatureListItem from './FeatureListItem.vue';

let nextFeatureId = 1;

export default {
	components: {
    FeatureInput,
		FeatureListItem
  },
  props: {
    features: {
      type: Array,
      required: true
    },
    category: {
      type: String,
      required: true
    }
  },
  data() {
    return {
			newFeatureText: ''
    }
  },
	methods: {
		addFeature() {
      console.log(`Adding a feature: ${this.newFeatureText}`);
      const trimmedText = this.newFeatureText.trim();
      if (trimmedText) {
				this.features.push({
					id: nextFeatureId++,
					text: trimmedText
				})
        this.newFeatureText = '';
      }
		},
		removeFeature(idToRemove) {
      console.log(`Removing a feature: ${idToRemove}`);
			this.features = this.features.filter(feature => {
				return feature.id !== idToRemove;
      })

      this.$emit('update:features', this.features);
		}
	}
}
</script>
