*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

pre.output-json {
  background-color: rgb(235, 235, 235);
  border-radius: 2px;
  padding: 5px;
  font-family: monospace;
}
